@font-face {
    font-family: 'hannari';
    src: url(../../font/Hannari_Mincho.woff) format('woff');
}

body {
    font-family: 'hannari';
    margin: 0;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

.top_logo img{
    width: 200px;
    filter: brightness(0.3);
}

.link {
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 0;
    margin: 0;
}


.link a {
    margin: 40px;
    text-decoration: none;
    color: #595959;
    font-size: 18px;
}

a {
    transition: all 0.5s;
}

a:hover {
    opacity: 0.5;
}


.title{
    margin-top: 4%;
    font-size: 30px;
    letter-spacing: 0.5em;
    text-align: center;
}

.page img{
    padding-top: 3%;
    width: 800px;
    margin: auto;
    display: block;
}

.introduction{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    width: 800px;
}
.introduction h1{
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 0.2em;
}
.introduction .material{
    padding-left: 50px;
}
.comment{
    text-align: center;
}




/* footer */

.footer{
    margin-top: 80px;
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #8f8f8f;
}

.fot_img{
    margin-left: 20%;
}

.instaglam {
    padding-bottom: 20px;
    margin-left: 3%;
}

.footer footer{
    color: #fff;
    text-align: right;
    letter-spacing: 0.3em;
    margin-right: 20%;
}